<ion-view name="challenge" title="Desafio" hide-nav-bar="false" id="page10" style="background-color:#149DB3;">
      <ion-content padding="false" class="manual-ios-statusbar-padding manual-android-statusbar-padding manual-padding-from-header">
        
        <ul class="list">
            <li ng-repeat="issue in listIssues" 
              class="item">
              <button class="button {{issue.buttonType}} button-full">{{issue.description}}</button>
              <h2 ng-if="issue.count == null">carregandos dados...</h2>
              <h2 ng-if="issue.count != null">{{issue.count*100/100}}% completados</h2>
            </li>
        </ul>

    </ion-content>
</ion-view>