<ion-view name="listaJogadores" title="Lista de Jogadores" hide-nav-bar="false" id="page12" style="background-color:#149DB3;">
     <ion-content padding="false" class="manual-ios-statusbar-padding manual-android-statusbar-padding manual-padding-from-header">
    

    <div ng-repeat="player in playerList track by $index" ng-model="playerList">
        <button class="button button-primary button-block" ng-click="accept(player)">
            {{player}} - <small>desafiar</small>        
        </button>
    </div> 

    </ion-content>
</ion-view>
