<ion-view name"multiplayer" title="" hide-nav-bar="true" id="page14" style="background-color:#149DB3;">
  <ion-header-bar align-title="center" no-tap-scroll="false" class="bar-balanced">
    <h1 class="title" ng-model="time">{{name}} {{pontuacao}} -   {{time}} - {{pontuacaoAdv}} {{nameAdv}}</h1>
    <div class="buttons">
      <button class="button">{{issue.area}}</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">      
    <div class="item item-text-wrap">
      {{issue.asking}}
    </div>        
          
    <div class="list" style="height: 30px;">
      <ul ng-repeat="option in issue.optionList">
        <li class="button button-full" ng-click="checkAnswer(option)">
            {{option.description}}
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>