<ion-view title="Multi Player" hide-nav-bar="true" id="page11" style="background-color:#1B593E;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <button id="multiPlayer-button6" style="font-size:20px;" class=" button button-positive  button-block ">120 segundos</button>
        <div id="multiPlayer-button-bar3" class=" button-bar "></div>
        <p id="multiPlayer-markdown3" style="color:#000000;text-align:center;" class=" ">Questão 1</p>
        <ion-list id="multiPlayer-list8" class=" ">
            <ion-item class="item-icon-left  " id="multiPlayer-list-item7">
                <i class="icon ion-android-checkbox-outline-blank"></i>Item A</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <ion-list id="multiPlayer-list9" class=" ">
            <ion-item class="item-icon-left  " id="multiPlayer-list-item8">
                <i class="icon ion-android-checkbox-outline-blank"></i>Item B</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <ion-list id="multiPlayer-list10" class=" ">
            <ion-item class="item-icon-left  " id="multiPlayer-list-item9">
                <i class="icon ion-android-checkbox-outline-blank"></i>Item C</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <ion-list id="multiPlayer-list11" class=" ">
            <ion-item class="item-icon-left  " id="multiPlayer-list-item10">
                <i class="icon ion-android-checkbox-outline-blank"></i>Item D</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <ion-list id="multiPlayer-list12" class=" ">
            <ion-item class="item-icon-left  " id="multiPlayer-list-item11">
                <i class="icon ion-android-checkbox-outline-blank"></i>Item E</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 6px;"></div>
        <div id="multiPlayer-button-bar4" class=" button-bar ">
            <button id="multiPlayer-button19" class=" button button-positive  button-block ">Poder A</button>
            <button id="multiPlayer-button20" class=" button button-positive  button-block ">Poder B</button>
            <button id="multiPlayer-button21" class=" button button-positive  button-block ">Poder C</button>
        </div>
    </ion-content>
</ion-view>