<ion-view title="Pontuação" hide-nav-bar="true" id="page13" style="background-color:#2D4D2F;" class=" ">
    <ion-content padding="true" scroll="true" class="manual-ios-statusbar-padding">
        <form id="pontuaO-form5" class="list ">
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input " id="pontuaO-textarea11">
                <span class="input-label">Quantidade de acertos</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input " id="pontuaO-textarea15">
                <span class="input-label">Você acertou 30 questões de 100.</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <label class="item item-input " id="pontuaO-textarea16">
                <span class="input-label">Quantidade de erros</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input " id="pontuaO-textarea18">
                <span class="input-label">Você errou 70 questões de 100.</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <label class="item item-input " id="pontuaO-textarea20">
                <span class="input-label">Disputas vencidas</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input " id="pontuaO-textarea21">
                <span class="input-label">Você ganhou 4 vezes de 10.</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <label class="item item-input " id="pontuaO-textarea22">
                <span class="input-label">Disputas perdidas</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input " id="pontuaO-textarea23">
                <span class="input-label">Você perdeu 6 vezes de 10.</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
        </form>
    </ion-content>
</ion-view>
