<ion-view name="home" title="QuizEnsino" hide-nav-bar="false" id="page2" style="background-color:#149DB3;">
	<ion-content padding="false" class="manual-ios-statusbar-padding manual-android-statusbar-padding manual-padding-from-header">
    	<div ng-repeat='issue in listIssues'>
    		<button class="button button-dark button-full" ng-click="getIssues(issue.area)">
	        	<small>{{issue.description}}</small>        
	        </button>
    	</div>	
      
        <button ui-sref="app.listaDeJogadores" class="button button-stable button-full icon ion-ios-people">Multi-Player</button>

    </ion-content>
</ion-view>

