<ion-view title="" hide-nav-bar="true" style="background-color:#149DB3;">
  <ion-header-bar align-title="center" no-tap-scroll="false" ng-if="isIOS" class="bar-balanced">
    <h1 class="title">{{time}}</h1>
    <div class="buttons">
      <button class="button">{{issue.area}}</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" ng-show="isIOS">      
    <div class="item item-text-wrap">
      {{issue.asking}}
    </div>        
          
    <div class="list" style="height: 30px;">
      <ul ng-repeat="option in issue.optionList">
        <li class="button button-full" ng-click="checkAnswer(option)">
            {{option.description}}
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-content class="has-footer" ng-show="isAndroid">      
    <div class="item item-text-wrap">
      {{issue.asking}}
    </div>        
          
    <div class="list" style="height: 30px;">
      <ul ng-repeat="option in issue.optionList">
        <li class="button button-full" ng-click="checkAnswer(option)">
            {{option.description}}
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-footer-bar ng-if="isAndroid" align-title="center" class="bar-balanced">
    <h1 class="title">{{time}}</h1>
    <div class="buttons">
      <button class="button">{{issue.area}}</button>
    </div>
  </ion-footer-bar>
</ion-view>

<!--<ion-view name="single" title="" hide-nav-bar="true" id="page14" style="background-color:#149DB3;">
  <ion-header-bar align-title="center" no-tap-scroll="false" ng-if="isIOS" class="bar-balanced">
    <h1 class="title">{{time}}</h1>
    <div class="buttons">
      <button class="button">{{issue.area}}</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" ng-show="isIOS">      
    <div class="item item-text-wrap">
      {{issue.asking}}
    </div>        
          
    <div class="list" style="height: 30px;">
      <ul ng-repeat="option in issue.optionList">
        <li class="button button-full" ng-click="checkAnswer(option)">
            {{option.description}}
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-content class="has-footer" ng-show="isAndroid">      
    <div class="item item-text-wrap">
      {{issue.asking}}
    </div>        
          
    <div class="list" style="height: 30px;">
      <ul ng-repeat="option in issue.optionList">
        <li class="button button-full" ng-click="checkAnswer(option)">
            {{option.description}}
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-footer-bar ng-if="isAndroid" align-title="center" class="bar-balanced">
    <h1 class="title">{{time}}</h1>
    <div class="buttons">
      <button class="button">{{issue.area}}</button>
    </div>
  </ion-footer-bar>
</ion-view>-->
