<ion-view title="Tabs Controller" hide-nav-bar="true" hide-back-button="true" id="page1" style="background-color:#4D5851;" class=" ">
    <ion-tabs class="tabs-balanced tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Desafios" icon="ion-flag" href="#/inicio/desafio" id="tabsController-tab6" class=" ">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Início" icon="ion-ios-game-controller-b" href="#/inicio/inicio" id="tabsController-tab5" class=" ">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Estatísticas" icon="ion-ribbon-b" href="#/inicio/pontuacao" id="tabsController-tab7" class=" ">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
